* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #ffffff;
  color: rgba(22, 8, 82);
}

#h2header {
  margin-right: auto;
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h1 {
  font-size: 1.7em;
  color: rgba(23, 0, 172, 0.83);
}

#h1main {
  padding: 20px;
}

.pheader {
  cursor: pointer;
}

#i1section {
  display: flex;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.062);
}

#ibotaocarrinho, #ibotaoprodutos {
  padding: 10px 20px;
  transition: 0.3s;
}

#ibotaocarrinho {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#ibotaoprodutos {
  border-right: 1.6px solid rgba(22, 8, 82, 0.871);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#ibotaocarrinho:hover, #ibotaoprodutos:hover {
  background-color: rgb(36, 64, 190);
  color: #ffffff;
}

main {
  background-color: #b3c4e260;
  box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.123);
  min-height: 100vh;
  padding-bottom: 50px;
}

.containerloja {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  align-items: flex-start; 
}

#listaprodutos {
  flex: 3; 
  display: flex;         
  flex-wrap: wrap;       
  justify-content: center; 
  gap: 20px;
}

#listaprodutos > div {
  border-radius: 10px;
  width: 468px;
  height: 320px;        
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.02);

   /*border-radius: 10px;
  width: 450px;
  height: 370px;*/
}

#listaprodutos > div:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}

#carrinholateral {
  flex: 1;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  position: sticky; 
  top: 20px;
  min-width: 280px;
  margin-right: 90px;
}

#itenscarrinho {
  margin: 20px 0;
  max-height: 400px;
  overflow-y: auto; 
}

.itemnocarrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#resumocarrinho {
  border-top: 2px solid rgba(22, 8, 82, 0.1);
  padding-top: 15px;
}

#btnlimpar {
  width: 100%;
  background-color: #e80000;
  margin-top: 10px;
}

#btnlimpar:hover {
  background-color: #bc0000;
}

/* Filtro */
#containerfiltro {
  padding: 10px 20px 20px 20px;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

img {
  height: 180px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: auto;
}


button {
    color: #ffffff;
    background-color: rgb(36, 64, 190);
    padding: 6.5px;
    border-radius: 10px;
    border: none;
    margin-top: auto;
}

button:hover {
    background-color: rgba(36, 64, 190, 0.767);
    color: WHITE;
    cursor: pointer;
    transition: 0.3s;
}
